.HomePage {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-60%, -50%);
  width: 80%;
}

.hero-text {
  color: white;
  text-align: center;
  font-size: 3.6rem;
  span {
    color: #037fff;
  }
}
.description {
  text-align: center;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  .icon-holder {
    margin-right: 1rem;
    padding: 1rem;
    .icon {
      font-size: 2.3rem;
      color: #a4acc4;
      transition: all 0.4s ease-in-out;
    }
    .gh:hover {
      color: rgb(212, 45, 212, 0.788);
    }
    .fb:hover {
      color: #3b5998;
    }
    .in:hover {
      color: red;
    }
    .tg:hover {
      color: #04669a;
    }
  }
}
