@import "./styles/index";
@import "./styles/navbar";
@import "./styles/home";
@import "./styles/about";
@import "./styles/skill";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #a4acc4;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.2rem;
}
